{% extends "base.html" %}
  {% block title %}Hello{% endblock %}
  {% block content %}
  {% load qr_code %}
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
        <table>
            <thead>
                <tr>
                 <th>Index</th>
                 <th>Name</th>
                 <th>Price</th>
                 <th>Status</th>
                 <th>Location</th>
                 <th>Timestamp</th>
                 <th>Key</th>
                 <th>Company</th>
                </tr>
               </thead>
               <tbody>
                 {%for row in data%}
                   <tr>
                   <td>{{row.index}}</td>
                   <td>{{row.name}}</td>
                   <td>{{row.price}}</td>
                   <td>{{row.status}}</td>
                   <td>{{row.location}}</td>
                   <td>{{row.timestamp}}</td>
                   <td>{{row.key}}</td>
                   <td>{{row.company}}</td>
                   </tr>
               </tbody>
               {% endfor %}
        </table>
        {% qr_from_text "Hello World!" size="T" %}
        {% endblock %}
