{%extends "base.html" %}
{% block title %}Create | MonoFYI{% endblock %}
{% block content %}
    <style>
        body{
            height: 100vh;
            background-image: url('https://images.unsplash.com/photo-1550101209-1bcfd5190a9e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600');
            background-repeat: no-repeat;
            background-size: cover;
        }
        form{
            width: 50%;
        }
        label{
            font-weight: bold;
            color: rgb(0, 0, 0);
        }
    </style>
    <center>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Company Name</label>
          <input type="text" class="form-control">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Product Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            <input type="number" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Manufacturing Date</label>
            <input type="date" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Expiry Date</label>
            <input type="date" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Location</label>
            <input type="number" class="form-control" placeholder="">
        </div>
        <center>
        <button type="submit" class="btn btn-primary mb-4">Submit</button>
        </center>
      </form>
      </center>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      {% endblock %}